/* Header */

.header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 28px;

    display: flex;
    align-items: center;
    gap: 6px;

    padding: 6px;

    background: #ece9e8;
    border-radius: 50px;

    z-index: 1000;
}

/* Links */

.navbar a {
    color: #444;
    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    padding: 13px 22px;

    border-radius: 50px;

    transition: .3s;
}

/* Active */

.navbar .active {
    background: #fff;
    color: #111;
}

/* Hover */

.navbar a:hover {
    background: #fff;
}

.hero {
    margin-top: 180px;
    text-align: center;
}

.hero h1 {
    font-size: 76px;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -4px;
    max-width: 900px;
    margin: 0 auto;
}

.hero-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 45px;
}
.hero-tags span{
    font-size: 18px;
    color: #444;
}



.hero-tags a {
    background:#f3f3f3;
    color:#444;
    padding:10px 18px;
    border-radius:30px;
    font-size:16px;
    transition:.3s;
    text-decoration: none;
}
.projects{
    padding: 100px 0;
}
.projects-grid{
    width:min(92%,1400px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}
.project{

    border-radius:20px;

    overflow:hidden;

    cursor:pointer;

}
.project img{

    width:100%;

    display:block;

    transition:.4s ease;

}
.project:hover img{

    transform:scale(1.03);

}
.contact{

    padding:180px 20px;

    text-align:center;

}
.contact h2{

    font-size:64px;

    font-weight:500;

    line-height:1.1;

    letter-spacing:-2px;

}
.contact a{

    display:inline-block;

    margin-top:8px;

    font-size:64px;

    color:#b1b1b1;

    transition:.3s;

}
.contact a:hover{

    color:#111;

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
        padding:40px 50px;
}
.footer p{

    color:#111;

    font-size:15px;

}
.socials{

    display:flex;

    gap:28px;

}
.socials a{

    font-size:15px;

    color:#111;
    text-decoration: none;

}